<html>

    <%- include('head'); -%>

<div class="container-fluid" >


  </br></br>

  <center> 
      <h6 class="btn btn-success disabled" style="cursor:default"> You file is ready to download!!!</h6>  </br></br>

      <div class="card">
            <div class="card-body">
      <p> If download doesn't start automatically. <a href="<%=uri%>"  > Click Here!!! </a> </p>
      </div>
    </div>
  </center> 
</div>

</html>
